.intro {
    background-color: yellow;
  }
  #idtag {
    background-color: purple;
  }
  .para {
    border: 7px solid rgb(117, 30, 8);
    margin-top: 50px;
    margin-bottom: 50px;
    margin-right: 10px;
    margin-left: 10px;
    padding-top: 50px;
    padding-right: 30px;
    padding-bottom: 50px;
    padding-left: 275px;
  }
  p { 
    background-color: rgb(255, 145, 0);
  }
  .center {
    margin: 0 auto;
  }
